.date-cells-wrapper {
.date-cells {
  margin: 1em;
.date-cells-container {
  overflow: hidden auto;
  width: 920px;
  .date-cell-wrapper {
    position: relative;
    background: #fff;
    outline: 1px solid #c5c5c5;
    height: 90px;
    width: calc(100%/7);
    display: inline-block;
    &.date-cell-heading-wrapper {
      .date-cell-heading-container {
        padding: 3px 4px;
        .date-heading-text {
          padding: 4px 13px;
          display: inline-block;
          text-transform: uppercase;
        }
      }
      outline: 0;
      text-align: right;
      height: 40px;
    }

    .date-cell-container {
      position: absolute;
      right: 9px;
      top: 8px;
    }
    .date-cell-events-wrapper {
      position: absolute;
      bottom: 0;
      z-index:999;
      width: -webkit-fill-available;
    }
  }
}
}
}
